.h1 {
  font-size: large;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 1rem var(--color-white);
}

.h2 {
  font-size: normal;
  margin: 0;
  margin-bottom: 2rem;
  text-shadow: 0 0 1rem var(--color-white);
}
