.icon {
  width: 1rem;
  height: 1rem;

  transition: transform 0.3s;
}

.button {
  display: inline-block;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  background-color: var(--color-black-faded);
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 0.5rem;
}

.button:hover .icon {
  transform: rotate(180deg);
}
