.container {
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.5rem 0 var(--color-black-faded),
    0 0 3rem 0 var(--color-black-faded);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 22rem;
  background-color: var(--color-white);
  transition: all 0.3s cubic-bezier(0.1, -0.03, 0, 1);
}

.container:hover {
  transform: scale(1.2);
  z-index: 1;
  box-shadow: 0 1rem 2rem 0 var(--color-black-faded),
    0 0 3rem 0 var(--color-black-faded);
}

.container * {
  pointer-events: none;
}

.container.small {
  padding: 1.5rem;
}

.container.small .value {
  font-size: 1rem;
}

.container.small .source {
  font-size: 1rem;
}

.value {
  position: relative;
  font-size: 2rem;
  line-height: 1.2;
  margin: 0.3rem;
  transition: color 0.15s;
  width: fit-content;
  margin: 0 auto;
}

.value::after {
  background-color: var(--color-black-faded);
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.15s;
}

.source {
  display: inline-block;
  font-size: 1rem;
  margin: 0.3rem;
  opacity: 0.5;
}

.loading {
  position: relative;
  color: transparent;
}

.loading::after {
  opacity: 1;
}

.error {
  /* color: var(--color-red); */
}

.error::after {
  animation: none;
  background-color: var(--color-red);
  background-image: none;
  opacity: 0.3;
}

.errorMessage {
  display: inline-block;
  color: var(--color-red);
  font-size: small;
  margin: 0;
  margin-top: 0.5rem;
}
