:root {
  --color-black: #2b3544;
  --color-black-faded: #2b354433;
  --color-black-faded-1: #2b354444;
  --color-accent: #32ff9044;
  --color-white: #fff;
  --color-red: #f34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #fff;
    --color-black-faded: #0c1117;
    --color-white: #1c2127;
    --color-red: #f34;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);

  background-image: radial-gradient(
    var(--color-accent) 10%,
    var(--color-white) 10%
  );
  background-position: 0 0;
  background-size: 1rem 1rem;
  height: 200px;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes loading-animation {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1000px;
  }
}

.loading::after {
  animation: loading-animation 3s ease-in-out alternate 0s infinite;
  background-image: linear-gradient(
    to right,
    var(--color-black-faded),
    var(--color-black-faded-1),
    var(--color-black-faded)
  );
}
