.container {
  padding: 0 2rem;
}

.main {
  min-height: calc(100vh - 2rem);
  padding: 4rem 0 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 2rem;
  text-align: center;
}

.footer p {
  margin: 0;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
