.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
}
